    <div class="h5">
        <span>
            <label style="margin-left: 1100px;"></label>   
        </span>
        <span class="label">
                <input type="button"  class="button" (click)="onAddRow()" value="Add Row">                
        </span>
        <span class="label">
            <label>{{CONS_FOOTER_RECOMMENDATION_MONTH}}</label>
        </span>
        <span class="label">
            <input class="text_1"  type="text" value="{{curdate}}">
        </span>
        <span class="label">
            <input type="button"  class="button" (click)="SubmitStock()" value="Submit">                
        </span>
    </div>  
   
    
